<!DOCTYPE html>

<html lang="pt">

<head>
  <title>API | Catálogo de Livros</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

  <!-- Fonte Roboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
<h1>📚 API | Catálogo de Livros</h1>


<nav>
  <a href="/apidocs">Playground</a>
</nav>
</body>


</html>