body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #2f2f2f;
  color: white;
}

header h1 {
  font-weight: 800;
  font-family: 'Roboto', bold;
}

hr {
  border: 1px solid #d4d4d4;
  margin: 10px 0 20px;
}

.top {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 30px;
}

.btn {
  background: #2f2f2f;
  padding: 18px 100px;          /* ↑ botão maior */
  border-radius: 8px;
  font-family: 'Roboto', bold;
  font-weight: 600;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #2f2f2f;
  transition: all 0.25s ease;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

/* Hover */
.btn:hover {
  background: #2f2f2f;
  border-color: #2f2f2f;
  color: #fff;
  text-decoration: underline;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.metrics {
  display: flex;
  gap: 40px;
  /* margin-left: 10px; */
}

.metric {
  margin-left: 100px;
}

.metric strong {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  display: block;
}

.metric span {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
}

.charts-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #2f2f2f;
  padding: 10px;
  border-radius: 8px;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow:
    0 8px 18px rgba(0, 0, 0, 0.55),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}

.card.full {
  margin-top: 30px;
}
